.write {
  position: relative;
  width: 390px;   /* 아이폰 가로 크기 */
  height: 844px;  /* 아이폰 세로 크기 */
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  background-color: #fff;
  margin: 0 auto; 
  flex-direction: column; 
  display:flex;
}

.write-container {
  width: 100%;
  padding: 0 20px;
  max-width: 390px; 
  padding: 20px;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

.write-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
}

.write-header h2 {
  flex: 1;
  text-align: center;
  margin: 0;
  font-size: 18px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.input-group input,
.input-group textarea {
   width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #f0f0f0;
  font-size: 14px;
}

.input-group textarea {
  height: 120px;
  resize: none;
}

.file-upload {
  margin: 20px 0;
  text-align: center;
}

.file-label {
  display: block;
  border: 1px dashed #aaa;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #888;
}

.upload-button {
  width: 100px;   /* 원하는 버튼 크기 */
  height: 100px;
  cursor: pointer;
}

.preview {
  width: 100px;  /* 업로드된 이미지 미리보기 크기 */
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.submit-button {
  width: 100%;
  padding: 14px;
  background: #e5e5e5;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background: #ccc;
}
